[submodule "zkWallet-contracts"]
	path = zkWallet-contracts
	url = https://github.com/zkSocialRecoveryWallet/zkWallet-contracts.git
[submodule "packages/zkWallet-contracts"]
	path = packages/zkWallet-contracts
	url = https://github.com/zkSocialRecoveryWallet/zkWallet-contracts.git
[submodule "packages/guardian-service"]
	path = packages/guardian-service
	url = https://github.com/zkSocialRecoveryWallet/guardian-service.git
[submodule "packages/zkwallet-ui"]
	path = packages/zkwallet-ui
	url = https://github.com/zkSocialRecoveryWallet/zkwallet-ui.git
[submodule "packages/guardians-ui"]
	path = packages/guardians-ui
	url = https://github.com/zkSocialRecoveryWallet/guardians-ui.git
[submodule "packages/guardian-ui"]
	path = packages/guardian-ui
	url = https://github.com/zkSocialRecoveryWallet/guardian-ui.git
